<h1><%= t("default.edit_model", :model_name => Task.model_name.human) %> </h1>

<%= render 'form', task: @task %>

<%= link_to t("default.show"), @task %> |
<%= link_to t("default.back"), tasks_path %>
